// COLOURS
$color-primary: #6e7a76;
$color-secondary: #202838;
$color-grey-light: #c3c1c1;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px / 16px
$bp-large: 62.5em; ///1000px / 16px
$bp-med: 50em; // 800px / 16px
$bp-small: 37.5em; //600px / 16px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 5rem [sidebar-end full-start] minmax(3.75rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 8.75rem) [col-end])
    [center-end] minmax(3.75rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-large) {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:
      [full-start] minmax(6rem, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end] minmax(6rem, 1fr) [full-end];
  }

  @media only screen and (max-width: $bp-med) {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }
}
